    <nav class="navbar navbar-inverse" role="navigation" style="border-radius: 0px;">
        <div class="container">
            <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">{{'Navigation'| translate}}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#">{{'Mobile calculator'| translate}}</a>
        </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a routerLink="/">{{'Calculator'| translate}}</a></li>
                    <li><a routerLink="/about">{{'About'| translate}}</a></li>
                </ul>
        <div class="btn-group navbar-btn  navbar-right" style="text-align: right !important;">  
                <button *ngFor="let lang of supportedLangs" (click)="selectLang(lang.value)" 
                        class="btn btn-default" [class.btn-link]="isCurrentLang(lang.value)">{{lang.display}}</button>
        </div>
            </div>
        </div>

    </nav>