 <div class="main container" id="calculator">
            <div class="sensor-light"></div>
             <div class="dynamic"></div>
            <div class="screen">
                <div class="volume-button-lg"></div>
                <div class="button-on-off"></div>
                 <div class="mini-screen"></div>
                 <div class="circle-buttons keys">
                     <div class="row">
                            <span class="btn btn-default" href="#">C</span>
                             <span class="btn btn-default" href="#">.</span>   
                            <span class="btn btn-default" href="#">/</span>    
                            <span class="btn btn-default" href="#">+</span>
                    </div>
                    <div class="row">
                            <span class="btn btn-default" href="#">7</span>  
                            <span class="btn btn-default" href="#">8</span>  
                            <span class="btn btn-default" href="#">9</span>    
                            <span class="btn btn-default" href="#">-</span>  
                    </div>
                    <div class="row">  
                            <span class="btn btn-default" href="#">4</span>  
                            <span class="btn btn-default" href="#">5</span>  
                            <span class="btn btn-default" href="#">6</span>    
                            <span class="btn btn-default" href="#">*</span>
                    </div>
                    <div class="row">
                            <span class="btn btn-default" href="#">1</span>  
                            <span class="btn btn-default" href="#">2</span>  
                            <span class="btn btn-default" href="#">3</span>    
                            <span class="btn btn-default" href="#">=</span>
                    </div> 
                    <div class="row">
                        <span class="btn btn-default" href="#">0</span>
                        <span class="btn btn-default additional-oper" href="#" role="button" style="display: none">sin</span> 
                        <span class="btn btn-default  additional-oper" href="#" role="button" style="display: none">cos</span>
                        <span class="btn btn-default  additional-oper" href="#" role="button" style="display: none">tan</span>
                   </div>
                   <div class="row additional-oper" style="display: none">
                            <span class="btn btn-default" href="#" role="button">√</span>  
                            <span class="btn btn-default" href="#" role="button">log</span>
                            <span class="btn btn-default" href="#" role="button">exp</span>
                            <span class="btn btn-default" href="#" role="button">|x|</span>  
  
                    </div>
                 </div>

            </div>
            <div class="main-button" href="" id="extend"></div>
    </div>

