 <div class="main container" id="calculator">
            <div class="sensor-light"></div>
             <div class="dynamic"></div>
            <div class="screen">
                <div class="volume-button-lg"></div>
                <div class="button-on-off"></div>
                 <div class="mini-screen">{{history}}</div>
                 <div class="circle-buttons keys">
                     <div class="row" >
                            <span class="btn btn-default" href="#" (click)="onClickClear()">C</span>
                            <span class="btn btn-default" href="#" (click)="removeLast()"><</span>
                            <span class="btn btn-default" href="#" (click)="calculate('/')">/</span>    
                            <span class="btn btn-default" href="#" (click)="calculate('+')">+</span>
                    </div>
                    <div class="row" >
                            <span class="btn btn-default" href="#" (click)="addToCalculation(7)">7</span>  
                            <span class="btn btn-default" href="#" (click)="addToCalculation(8)">8</span>  
                            <span class="btn btn-default" href="#" (click)="addToCalculation(9)">9</span>    
                            <span class="btn btn-default" href="#" (click)="calculate('-')">-</span>  
                    </div>
                    <div class="row">  
                            <span class="btn btn-default" href="#" (click)="addToCalculation(4)">4</span>  
                            <span class="btn btn-default" href="#" (click)="addToCalculation(5)">5</span>  
                            <span class="btn btn-default" href="#" (click)="addToCalculation(6)">6</span>    
                            <span class="btn btn-default" href="#" (click)="calculate('*')">*</span>
                    </div>
                    <div class="row" >
                            <span class="btn btn-default" href="#" (click)="addToCalculation(1)">1</span>  
                            <span class="btn btn-default" href="#" (click)="addToCalculation(2)">2</span>  
                            <span class="btn btn-default" href="#" (click)="addToCalculation(3)">3</span>    
                            <span class="btn btn-default" href="#" (click)="getTotal()">=</span>
                    </div> 
                    <div class="row" >
                            <span class="btn btn-default" href="#"  (click)="addToCalculation('.')">.</span>
                            <span class="btn btn-default" href="#" (click)="addToCalculation(0)">0</span>
                            <span class="btn btn-default" href="#" (click)="onClickMathFunction('sin')" *ngIf="visibleAdditionButtons">sin</span> 
                            <span class="btn btn-default" href="#" (click)="onClickMathFunction('cos')" *ngIf="visibleAdditionButtons">cos</span>
                    </div>
                    <div class="row" *ngIf="visibleAdditionButtons">
                        <span class="btn btn-default" href="#"  (click)="onClickMathFunction('√')">√</span>  
                        <span class="btn btn-default" href="#"  (click)="onClickMathFunction('exp')">exp</span>
                        <span class="btn btn-default" href="#" (click)="onClickMathFunction('tan')">tan</span>
                        <span class="btn btn-default" href="#" (click)="onClickMathFunction('log')">log</span>
                   </div>
                 </div>

            </div>
            <div class="main-button" href="" id="extend" (click)="visible()"></div>
    </div>

